<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>slackToken</key>
	<string>xoxp-4698769766-4698769768-202894927314-69336d18b23fc8b851831694f25e1dfc</string>
	<key>slackApiUrl</key>
	<string>https://slack.com/api/users.list</string>
</dict>
</plist>
